cloudscraper>=1.2.58 # (CAN BE UNINSTALLED) This was used in the previous version of the code, but we are now using playwright for scraping. Kept because it is large
curl_cffi>=0.9.2 # (CAN BE UNINSTALLED) This was used in the previous version of the code, but we are now using playwright for scraping. Kept because it is large
playwright>=1.39.0 # This is the main dependency for scraping with Playwright
tqdm>=4.65.0 # For progress bars in the console